/* Responsive */
@media (max-width: 480px) {
    .add-item {
        display: flex;
        height: 6.5vh;
        padding: 0 1vw;
        background: transparent;
    }

    .add-item input {
        flex: 1;
        color: white;
        font-size: 2vh;
        padding: 0 4vw;
        border: none;
        height: 6vh;
        width: 85vw;
        background-color: var(--4-color);
        border-radius: 30px 0 0 30px;
    }

    .add-item input::placeholder {
        color: var(--1-color);
    }

    .add-item input:hover {
        background-color: var(--3-color);
    }

    .add-item input:focus {
        outline: none;
    }

    .add-item button {
        appearance: none;
        background: var(--4-color);
        color: var(--1-color);
        font-size: 2.5vh;
        height: 6vh;
        width: 15vw;
        border-radius: 0 30px 30px 0;
        border: none;
        border-left: 1vw solid var(--1-color);
        padding: 1vh 5vw;
        cursor: pointer;
    }
    .add-item button:hover {
        transform: none;
        background: var(--3-color);
    }
}