/* /static/css/components/login-modal.css */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    font-family: 'IBM Plex Sans', 'Segoe UI', sans-serif;
}

.modal-content {
    background: var(--4-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10vh 10vw;

}

.modal-content h2 {
    font-size: 22px;
    color: var(--1-color);
    margin-bottom: 20px;
}

.modal-content input {
    appearance: none;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    background-color: var(--2-color);
    color: var(--1-color);
    font-size: 16px;
}

.modal-content input:focus {
    outline: none;
}
.modal-content input::placeholder {
    color: var(--1-color);
}

.modal-content button {
    padding: 10px 20px;
    background: var(--6-color);
    color: var(--1-color);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
}

.modal-content button:hover {
    background: #8fb3a9;
}

.error-message {
    color: var(--1-color);
    font-weight: bolder;
    font-size: 14px;
    margin-bottom: 10px;
    height: 18px;
}